Changeset upload with basic auth results in "401 Unauthorized"

When changeset upload on the OSM API was switched to CGImap, my Perl scripts that upload changesets with HTTP_BASIC_AUTH have stopped working. For example, after successfully having created changeset 70762083, I tried to upload

```
<osmChange version='0.6'>
<delete>
 <node id="6285571178" visible="true" version="2" changeset="70762083" timestamp="2019-03-14T21:24:38Z" user="mueschel" uid="616774" lat="-0.7734650" lon="30.9558450"/>
</delete>
</osmChange>
```
with
```
perl changeset.pl upload 70762083 < changeset.xml
```
and got
```
POST https://api.openstreetmap.org/api/0.6/changeset/70762083/upload... 401 Unauthorized (22b)
Response:
User is not authorized
cannot upload changeset: 401 Unauthorized
User is not authorized
```
I tried a few different values for the "changeset", "uid" and "user" attributes (trying both the values of the node to be deleted and the changeset in which the deletion was supposed to happen) but to no avail; 401 Unauthorized throughout.

Just to be clear basic auth appears to be working for other requests (at least I got a 401 if I use the wrong password and a 200 if I use the right one) but for upload it does not appear to be working at all and everybody is getting a 401 response I think.

I have confirmed that the HTTP_AUTHORIZATION header is present in the cgimap FCGI request.

I have moved upload back to rails on the production servers for now.

Basic Auth works for me in JOSM without any issue. We need to further investigate what the issue is with your Perl script.

It's not just his script. I've seen it with JOSM uploads as well.

I believe we would have seen many more reports if this is a general issue with Basic Auth (assuming it is still used by a fair amount of users).

All of the basic auth logic is in this class https://github.com/zerebubuth/openstreetmap-cgimap/blob/master/src/basicauth.cpp - I'm wondering what the best way would be to reproduce the issue, as I obviously don't have access to either the user/passwords and the salted hashes on the db tables.

So I don't of course know that they aren't genuine wrong passwords but I have 70 in about three hours this morning on one of three servers from at least:

* JOSM
* Merkaartor
* OsmAnd
* archINFORM-Wikidata-Enricher
* osmtools

I just checked the account @woodpeck was using and that has a password using the current scheme, so 10000 rounds of sha512.

I think I see it - that code uses `get_user_id_pass` to lookup the user but that only matches on `display_name` so it fails for anybody trying to login by email.

When I was testing GET requests I was using my username of course!

Confirmed that GET fails if I use my email instead of my username.

Ok, that's good to know, I wasn't aware that you can also use your email address to log on. In my tests, I always used my display name only.

@woodpeck : did you happen to use your email address to log on as well?

I'm pretty sure the perl scripts just use display name, not email address.

Well, the perl script would just send whatever you enter in the user field to the server, the script itself doesn’t have a concept of a display user afaics.

@woodpeck has now reproduced a failure against https://upload.apis.dev.openstreetmap.org/ when using the username but only for larger diffs... I am in the process of capturing the FCGI requests...

It seems that osmtools is sometimes not sending the auth header so that is not a cgimap issue at least.

Current theory is that for "auth required" calls like upload rails sends a 403 when there is no auth which causes osmtools to retry with auth.

OK the actual problem is that cgimap sends a different realm "OpenStreetMap login required" rather than "Web Password" and osmtools only expects the latter.

Right. So the story seems to be that perl's LWP::UserAgent only sends authentication after a challenge (that is a 401 response not 403 as I previously said) and the credentials you give it are tied to a realm so it needs to have been told the right realm name.

Even with that changed it still doesn't seem to like it though, one theory is that the extra OAuth realm that cgimap includes in the `WWW-Authenticate` header is confusing it... is announcing OAuth like that even valid?

Having now looked a the LWP code I think it is buggy in that it only accepts one challenge per `WWW-Authenticate` header so if OAuth is first then it rejects that and never tries basic.

That said I see cgimap is sending them separately so maybe they are merged by apache?

Confirmed that apache merges headers from CGI scripts (except for `Set-Cookie` which is known to break some browsers).

Might be worth sending basic auth first at least given I doubt anybody relies on the challenger for OAuth.

FWIW the problem with the Perl scripts can be fixed by forcing an WWW-Authenticate header:
```
$request->header("Authorization" => "Basic ".encode_base64($prefs->{username}.":".$prefs->{password}));
```
instead of relying on `$useragent->credentials()`. 

> Confirmed that GET fails if I use my email instead of my username.

I addressed this part of the issue in a new PR #190. @tomhughes : could you please take a look, if this is matching the logic in user.rb, authenticate? I'll be adding unit tests to the PR soon.



Regarding the WWW-Authenticate header, I'm not 100% sure what the final conclusion is:

Should we simply switch the following two lines, or should also change the realm name? I don't see the realm name in @woodpeck's one-liner fix above, hence I don't know exactly, if this is relevant for the problem at hand.

https://github.com/zerebubuth/openstreetmap-cgimap/blob/2a174df48aa184d09f4fedd56e5f4875ddbea4a7/src/process_request.cpp#L55-L57



Technically perl's LWP module is buggy, but switching those two lines will fix it I think and probably in generally makes for a more robust solution with clients that are similarly buggy.

Right, [RFC 7235, section 4.1](https://tools.ietf.org/html/rfc7235#section-4.1) says:

> User agents are advised to take special care in parsing the [WWW-Authenticate] field  value, as it might contain more than one challenge, and each  challenge can contain a comma-separated list of authentication  parameters.  Furthermore, the header field itself can occur multiple  times.

I'll prepare a patch to switch those two lines. Hopefully, this will not affect other clients which are broken in similar but slightly different ways.

Both fixes should be on the way to https://master.apis.dev.openstreetmap.org now, pending a rebuild on the dev server. It would be good if we could somehow test @woodpeck's Perl script (without the fix in https://github.com/zerebubuth/openstreetmap-cgimap/issues/189#issuecomment-497320225) to see if this works now.

If all is good, we can release 0.7.3 asap.

I already triggered the build process on launchpad ... 

It's live on master.apis (not upload.apis!) now.

Testing in JOSM with display name, email, lower case / upper case variants looks good here.

Ok, the Perl script still fails due to the incorrect Realm... will fix that in a minute.

I'm running a bit out of ideas regarding this Perl script. WWW-Authenticate now reads as:


```
Basic realm="Web Password", charset="UTF-8", OAuth realm="OpenStreetMap login required"
```

This doesn't look too bad. Unfortunately, the totally broken LWP parser code cannot tell the two realms apart and assumes "OpenStreetMap login required" even for Basic Auth.

I can successfully log on to master dev, once I change @woodpeck's code to:
```
    $ua->credentials($host, "OpenStreetMap login required", $prefs->{username}, $prefs->{password});
```






I haven't looked but I can well imagine how it could get that wrong, by matching the type from the start of the line and the realm from the end.

There isn't really anything we can do about that other than removing OAuth altogether or using the same realm for both and LWP is clearly broken, and there is a workaround, so I'm inclined to say we just stop trying to find a way to workaround it on the server.

Yes. There are two workarounds for LWP, either force the WWW-Authenticate header like I said above, or implement your own `get_basic_credentials` method by subclassing the UserAgent, and Perl coders are used to ugly hacks anyway, so I'd say this is good enough.

I feel like this additional WWW-Authenticate header is overcomplicating things with no real benefit. After all, the Rails port only announces Basic Auth, and this is what #193 now does for cgimap as well.

I'll prepare 0.7.4 soonish.

@woodpeck : your work around should not be needed. It should work on cgimap 0.7.4 as is, at least my tests on the day instance were successful the other day.

Nothing left to do, hence closing...